<main>
    <section>
    <h5 class="pt-3">My project</h5>
    <p>You can see a list of my practice tasks below</p>
    </section>
    <section>
        <div class="row">
            <div class="col-3">
                <div class="card">
                    <button class="btn btn-primary m-2"><a class="text-light" href="/summary">Summary</a></button>
                    <button class="btn btn-primary m-2"><a class="text-light" href="/skills">Skills</a></button>
                    <button class="btn btn-primary m-2"><a class="text-light" href="/education">Educations</a></button>
                    <button class="btn btn-primary m-2"><a class="text-light" href="/work">Work</a></button>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <button class="btn btn-secondary m-2"><a class="text-light" href="/bio">Bio</a></button>
                    <button class="btn btn-secondary m-2"><a class="text-light" href="/car">Car</a></button>
                    <button class="btn btn-secondary m-2"><a class="text-light" href="/facebook">Facebook</a></button>
                    <button class="btn btn-secondary m-2"><a class="text-light" href="/js">JS</a></button>
                    <button class="btn btn-secondary m-2"><a class="text-light" href="/mac">Mac</a></button>
                    <button class="btn btn-secondary m-2"><a class="text-light" href="/person">Person</a></button>
                    <button class="btn btn-secondary m-2"><a class="text-light" href="/program">Program</a></button>
                    <button class="btn btn-secondary m-2"><a class="text-light" href="/web">Web</a></button>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <button class="btn btn-outline-warning m-2"><a class="text-dark" href="/task21">Task21</a></button>
                    <button class="btn btn-outline-warning m-2"><a class="text-dark" href="/task22">Task22</a></button>
                    <button class="btn btn-outline-warning m-2"><a class="text-dark" href="/task31">Task31</a></button>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <button class="btn btn-success m-2"><a class="text-dark" href="/shopcart">Shopcart</a></button>
                    <button class="btn btn-success m-2"><a class="text-dark" href="/shopcatalog">Shopcatalog</a></button>
                    <button class="btn btn-success m-2"><a class="text-dark" href="/shophome">Shophome</a></button>
                    <button class="btn btn-success m-2"><a class="text-dark" href="/shopnews">Shopnews</a></button>
                    <button class="btn btn-success m-2"><a class="text-dark" href="/shoporder">Shoporder</a></button>
                    <button class="btn btn-success m-2"><a class="text-dark" href="/shopproduct">Shopproduct</a></button>
                    <button class="btn btn-success m-2"><a class="text-dark" href="/shopprofile">Shopprofile</a></button>
                    <button class="btn btn-success m-2"><a class="text-dark" href="/shopreview">Shopreview</a></button>                    
                </div>
            </div>
        </div>
    </section>
</main>
