<main>   
    <section>
    {{#with newsBlock}}
        {{> shoppost}}        
    {{/with}}
    </section>
    <hr class="my-5">
    <section>
        {{#with goodsBlock}}
            {{#with tabs}}
            <ul class="nav nav-tabs mb-5">
                <li class="nav-item">
                    <a class="nav-link
                    {{#if [0].isActive}}active{{/if}}
                    {{#if [0].isDisabled}}disabled{{/if}}">
                    {{[0].text}}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link
                    {{#if [1].isActive}}active{{/if}}
                    {{#if [1].isDisabled}}disabled{{/if}}">
                    {{[1].text}}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link
                    {{#if [2].isActive}}active{{/if}}
                    {{#if [2].isDisabled}}disabled{{/if}}">
                    {{[2].text}}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link
                    {{#if [3].isActive}}active{{/if}}
                    {{#if [3].isDisabled}}disabled{{/if}}">
                    {{[3].text}}
                    </a>
                </li>
            </ul>
            {{/with}}
            {{#with cards}}
                <div class="row">
                    <div class="col-4 px-0">
                        <div class="card my-3">
                        <img src="{{[0].image}}" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">{{[0].title}}
                                    {{#if [0].isHot}}
                                    <badge class="rounded-pill text-bg-warning text-uppercase">Hot!</badge>
                                    {{/if}}
                                    {{#if [0].isNew}}
                                    <badge class="rounded-pill text-bg-primary">New</badge>
                                    {{/if}}
                                </h5>
                                <p class="card-text">{{[0].description}}</p>                        
                            </div>
                        </div>
                    </div>
                    <div class="col-4 pe-0">
                        <div class="card my-3">
                        <img src="{{[1].image}}" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">{{[1].title}}
                                    {{#if [1].isHot}}
                                    <badge class="rounded-pill text-bg-warning text-uppercase">Hot!</badge>
                                    {{/if}}
                                    {{#if [1].isNew}}
                                    <badge class="rounded-pill text-bg-primary">New</badge>
                                    {{/if}}
                                </h5>
                                <p class="card-text">{{[1].description}}</p>                        
                            </div>
                        </div>
                    </div>
                    <div class="col-4 pe-0">
                        <div class="card my-3">
                        <img src="{{[2].image}}" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">{{[2].title}}
                                    {{#if [2].isHot}}
                                    <badge class="rounded-pill text-bg-warning text-uppercase">Hot!</badge>
                                    {{/if}}
                                    {{#if [2].isNew}}
                                    <badge class="rounded-pill text-bg-primary">New</badge>
                                    {{/if}}
                                </h5>
                                <p class="card-text">{{[2].description}}</p>                        
                            </div>
                        </div>
                    </div>
                    <div class="col-4 pe-0">
                        <div class="card my-3">
                        <img src="{{[3].image}}" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">{{[3].title}}
                                    {{#if [3].isHot}}
                                    <badge class="rounded-pill text-bg-warning text-uppercase">Hot!</badge>
                                    {{/if}}
                                    {{#if [3].isNew}}
                                    <badge class="rounded-pill text-bg-primary">New</badge>
                                    {{/if}}
                                </h5>
                                <p class="card-text">{{[3].description}}</p>                        
                            </div>
                        </div>
                    </div>
                    <div class="col-4 pe-0">
                        <div class="card my-3">
                        <img src="{{[4].image}}" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">{{[4].title}}
                                    {{#if [4].isHot}}
                                    <badge class="rounded-pill text-bg-warning text-uppercase">Hot!</badge>
                                    {{/if}}
                                    {{#if [4].isNew}}
                                    <badge class="rounded-pill text-bg-primary">New</badge>
                                    {{/if}}
                                </h5>
                                <p class="card-text">{{[4].description}}</p>                        
                            </div>
                        </div>
                    </div>
                    <div class="col-4 pe-0">
                        <div class="card my-3">
                        <img src="{{[5].image}}" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">{{[5].title}}
                                    {{#if [5].isHot}}
                                    <badge class="rounded-pill text-bg-warning text-uppercase">Hot!</badge>
                                    {{/if}}
                                    {{#if [5].isNew}}
                                    <badge class="rounded-pill text-bg-primary">New</badge>
                                    {{/if}}
                                </h5>
                                <p class="card-text">{{[5].description}}</p>                        
                            </div>
                        </div>
                    </div>
                </div>
            {{/with}}
        {{/with}}
    </section>
    <hr class="my-5">
    <section>
        {{#with subscribe}}
            {{> shopsubscribe}}
        {{/with}}
    </section>
    <hr class="my-5">
    <section>
        {{> shopaction}}
    </section>
    <hr class="mt-5">
   
</main>